.desktop-header-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 210px);
    max-width: 1231px;
    margin: 0 auto;
    padding: 93px 1px;
  }
  
  .logo-wrapper {
    display: flex;
    align-items: center;
    min-width: max-content;
  }
  
  .section-hero__header-logo {
    width: clamp(1.25rem, 0.4357rem + 3.4742vw, 3.5625rem);
    height: clamp(1.25rem, 0.4357rem + 3.4742vw, 3.5625rem);
    margin-right: clamp(0.25rem, 0.096rem + 0.6573vw, 0.6875rem);
  }
  
  .section-hero__header-logo-description {
    text-transform: uppercase;
    font-family: var(--font-family-bold);
    font-size: clamp(0.375rem, 0.1989rem + 0.7512vw, 0.875rem);
    color: var(--white-color);
  }
  
  .special-button-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .special-header-button-admin {
    font-family: var(--font-family-bold);
    width: auto; 
    background-color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    padding: clamp(0.5rem, 0.3019rem + 0.8451vw, 1.0625rem) 23px;
    color: var(--background-color);
    font-size: clamp(0.5rem, 0.2799rem + 0.939vw, 1.125rem);
    border-radius: 89px;
    border: none;
    cursor: pointer;
    text-decoration: none; 
    white-space: nowrap;
  }
  
  .special-button-circle {
    width: clamp(1.4375rem, 0.6893rem + 3.1925vw, 3.5625rem);
    height: clamp(1.4375rem, 0.6893rem + 3.1925vw, 3.5625rem);
    background-color: var(--white-color);
    border-radius: 50%;
    background-image: url(../../assets/img/svg/black-arrow.svg); 
    background-size: 35%;
    transition: transform 0.5s ease;
  }
  
  .special-button-wrapper:hover .special-button-circle {
    transform: scale(1.1) translateX(2px);
  }


  @media (max-width: 1024px) {
    .desktop-header-admin {
      width: calc(100% - 60px);
      padding: 60px 30px; /* Уменьшаем отступы */
    }
  }
  
  @media (max-width: 768px) {
    .desktop-header-admin {
      width: calc(100% - 40px);
      padding: 40px 20px;
    }
    .section-hero__header-logo-description {
      display: none; /* Скрываем текст логотипа на маленьких экранах */
    }
  }